body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d1f0d;
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  max-width: 700px;
  width: 100%;
  text-align: center;
  padding: 0px 15px;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
}

/* Form + knapp */
form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 12px 14px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  width: 70%;
  max-width: 300px;
  background-color: #104f2a;
}

button {
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  background: #2ecc71;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #27ae60;
}

/* Toggle-knapp */
.toggle-btn {
  margin-top: 20px;
  background: #2ecc71;
  font-size: 16px;
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.toggle-btn:hover {
  background: #166135;
}

/* Felmeddelanden */
p {
  margin: 10px 0;
  color: #faf8f8;
}

/* Mobilanpassning */
@media (max-width: 700px) {
  .weather-card,
  .today-card {
    min-width: 100px;
  }
  .weather-icon {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 24px;
  }

  @media (max-width: 500px) {
    .App {
      padding: 0 10px; /* mindre marginal för små skärmar */
    }
  }

  input {
    width: 100%;
  }

  button,
  .toggle-btn {
    width: 100%;
  }

  .forecast-day {
    width: 100%;
  }
}
